{
	"presets":	[ [ "es2015" ], [ "es2017" ] ],
	"plugins":	[ "transform-es2015-destructuring", "transform-class-properties", "transform-runtime", "syntax-dynamic-import", "transform-regenerator" ],
	"ignore": [
	]
}
