@import '~barfoos2.0/css/viewportDefinitions';

div.articlePreview {
	width:660px;
	height:auto;
	background:linear-gradient(45deg, rgba(255, 255, 255, 0.8), rgba(235, 235, 230, 0.7)), url(../images/paper.jpg);
	background-size:100% auto;
	margin:10px;

	display:flex;
	flex-wrap:wrap;
	flex-direction:column;
	justify-content:flex-start;
	align-items:center;
	border-radius:12px;
	box-sizing:border-box;
	border:1px solid rgb(86, 70, 70);
	box-shadow:9px 8px 20px 0px #00000094;
	position:relative;
	opacity:0.75;
	order:2;

	&.highlight {
		opacity:1;
		border:1px dotted red;
		box-shadow:0 0 70px 5px white;
		order:1;
	}

	&:hover {
		background:linear-gradient(45deg, rgba(255, 255, 255, 0.7), rgba(199, 211, 255, 0.77)), url(../images/paper.jpg);
		background-size:100% auto;
	}

	@media screen and (min-width:1px) and (max-width:$iPhone6Portrait) {
		width:90vw;
		margin:0;
		margin-bottom:10vh;
	}

	> div.adminPanel {
		display:none;
		flex-direction:row;
		flex-wrap:wrap;
		justify-content:flex-start;
		align-items:center;
		font-size:12px;
		width:95%;
		color:#7d2b2b;
		text-shadow:-1px 1px 8px black;
		cursor:pointer;
		padding:4px;

		> div {
			margin-right:2vh;

			&:hover {
				text-decoration:underline;
			}
		}
	}

	> div.articleHeader {
		margin-top:8px;
		margin-bottom:8px;
		width:95%;

		display:flex;
		flex-direction:row;
		flex-wrap:wrap;
		justify-content:space-between;
		align-items:center;

		> a.articleThumbnailAnchor {
			width:75%;
			text-decoration:none;

			> div.articleTitle {
				display:block;

				width:75%;
				font-weight:bold;
				font-size:22px;
				color:#2d2d2d;

				overflow:hidden;
				text-overflow:ellipsis;
				white-space:nowrap;
				font-family:"system-ui","Futura","Lucida Grande","Arial";

				&:hover {
					text-decoration:underline;
				}
			}
		}

		> div.articleDate {
			font-size:18px;
			color:#2d2d2d;
		}
	}

	> div.articleBodyPreview {
		position:relative;

		display:flex;
		flex-direction:column;
		justify-content:flex-start;
		align-items:center;

		width:95%;
		min-height:290px;
		height:290px;
		color:#212020;
		margin-top:8px;

		font-family:"system-ui","Futura","Lucida Grande","Arial";
		font-size:18px;

		> div.text {
			overflow-x:hidden;
			overflow-y:hidden;
			align-self:flex-start;
			width:100%;

			&.overflow {
				box-shadow:0px -20px 80px 10px black inset;
			}
		}

		> div.showMore {
			display:none;
			width:100px;
			height:50px;
			border:1px solid white;
			box-sizing:border-box;
			box-shadow:0px 0px 2px 2px rgba(0,0,0,0.5);
			position:absolute;
			background-image:linear-gradient(45deg, white, #555569);
			bottom:-15px;
			justify-content:center;
			align-items:center;
			font-weight:bold;
			border-radius:12px;
			text-shadow:0 0 4px white;
			font-size:12px;
			cursor:pointer;

			&:hover {
				box-shadow:0px 0px 2px 2px rgba(100,100,150,0.8);
			}
		}
	}

	> div.articleThumbnail {
		width:100%;
		height:240px;
		margin-top:8px;
		margin-bottom:8px;

		background-repeat:no-repeat;
		background-position:50% 50%;
		background-size:cover;
		border-radius:0 0 12px 12px;
		box-shadow:0 0 4px 1px black;

		display:flex;
		flex-direction:row;
		justify-content:flex-end;
		align-items:flex-end;

		&:hover {
			box-shadow:0 0 4px 1px #766f92;
		}

		> div.additionalImageMini {
			width:8vw;
			height:6vw;
			box-shadow:2px 2px 8px black, -1px -1px 2px white;
			margin-right:1vw;
			margin-bottom:1vw;
			justify-content:flex-end;
			align-items:flex-end;
			background-size:cover;
			opacity:0.8;

			&:hover {
				box-shadow:0 0 4px 1px #766f92;
			}

			@media screen and (min-width:1px) and (max-width:$iPhone6Portrait) {
				width:30%;
				height:28%;
			}
		}
	}

	> div.commentsWrapper {
		margin-top:5vh;
		margin-bottom:2vh;
		width:95%;
		background:linear-gradient(170deg, black, #797979);
	}
}
