@import '~barfoos2.0/css/viewportDefinitions';

div.articlePreview {
	width:660px;
	height:auto;
	background:linear-gradient(45deg, rgba(255, 255, 255, 0.8), rgba(235, 235, 230, 0.7)), url(../images/paper.jpg);
	background-size:100% auto;
	margin:10px;

	display:flex;
	flex-wrap:wrap;
	flex-direction:column;
	justify-content:flex-start;
	align-items:center;
	border-radius:12px;
	box-sizing:border-box;
	border:1px solid rgb(86, 70, 70);
	box-shadow:9px 8px 20px 0px #00000094;
	position:relative;
	opacity:0.85;
	order:2;

	&.highlight {
		opacity:1;
		border:1px dotted red;
		box-shadow:0 0 70px 5px white;
		order:1;
	}

	&:hover {
		background:linear-gradient(45deg, rgba(255, 255, 255, 0.7), rgba(199, 211, 255, 0.77)), url(../images/paper.jpg);
		background-size:100% auto;
	}

	@media screen and (min-width:1px) and (max-width:$iPhone6Portrait) {
		width:90vw;
		margin:0;
		margin-bottom:10vh;
	}

	> div.adminPanel {
		display:none;
		flex-direction:row;
		flex-wrap:wrap;
		justify-content:flex-start;
		align-items:center;
		font-size:12px;
		width:95%;
		color:#7d2b2b;
		text-shadow:-1px 1px 8px black;
		cursor:pointer;
		padding:4px;

		> div {
			margin-right:2vh;

			&:hover {
				text-decoration:underline;
			}
		}
	}

	> div.articleHeader {
		margin-top:8px;
		margin-bottom:8px;
		width:95%;

		display:flex;
		flex-direction:row;
		flex-wrap:wrap;
		justify-content:space-between;
		align-items:center;

		> a.articleThumbnailAnchor {
			width:75%;
			text-decoration:none;

			> div.articleTitle {
				display:block;

				width:75%;
				font-weight:bold;
				font-size:22px;
				color:#2d2d2d;

				overflow:hidden;
				text-overflow:ellipsis;
				white-space:nowrap;
				font-family:"system-ui","Futura","Lucida Grande","Arial";

				&:hover {
					text-decoration:underline;
				}
			}
		}

		> div.read {
			font-size:24px;
			cursor:pointer;
		}

		> div.articleDate {
			font-size:16px;
			color:#2d2d2d;
		}
	}

	> div.articleBodyPreview {
		position:relative;

		display:flex;
		flex-direction:column;
		justify-content:flex-start;
		align-items:center;

		width:95%;
		color:#212020;
		margin-top:8px;

		font-family:"system-ui","Futura","Lucida Grande","Arial";
		font-size:18px;

		&.textMode {
			min-height:290px;
			height:290px;
		}

		> div.text {
			overflow-x:hidden;
			overflow-y:hidden;
			align-self:flex-start;
			width:100%;

			&.overflow {
				box-shadow:0px -20px 80px 10px black inset, -4px -4px 20px black;
				border-radius:12px;
			}
		}

		> div.showMore {
			display:none;
			width:100px;
			height:50px;
			border:1px solid white;
			box-sizing:border-box;
			box-shadow:0px 0px 2px 2px rgba(0,0,0,0.5);
			position:absolute;
			background-image:linear-gradient(45deg, white, #555569);
			bottom:-15px;
			justify-content:center;
			align-items:center;
			font-weight:bold;
			border-radius:12px;
			text-shadow:0 0 4px white;
			font-size:12px;
			cursor:pointer;
			z-index:2;

			&:hover {
				box-shadow:0px 0px 2px 2px rgba(100,100,150,0.8);
			}
		}
	}

	> div.articleThumbnail {
		width:95%;
		height:240px;
		margin-top:8px;
		margin-bottom:8px;

		background-repeat:no-repeat;
		background-position:50% 50%;
		background-size:cover;
		border-radius:0 0 12px 12px;

		display:flex;
		flex-direction:row;
		justify-content:flex-end;
		align-items:flex-end;

		&.imageMode {
			height:360px;
			background-size:contain;
		}

		&:hover {
			box-shadow:0 0 4px 1px #766f92;
		}

		> div.additionalImageMini {
			width:8vw;
			height:6vw;
			box-shadow:2px 2px 8px black, -1px -1px 2px white;
			margin-right:1vw;
			margin-bottom:1vw;
			justify-content:flex-end;
			align-items:flex-end;
			background-size:cover;
			opacity:0.8;

			&:hover {
				box-shadow:0 0 4px 1px #766f92;
			}

			@media screen and (min-width:1px) and (max-width:$iPhone6Portrait) {
				width:30%;
				height:28%;
			}
		}
	}

	> div.actionButtonsWrapper {
		width:95%;
		height:4vh;
		display:flex;
		flex-direction:row;
		justify-content:flex-end;
		align-items:center;
		margin-top:1vh;

		@media screen and (min-width:1px) and (max-width:$iPhone6Portrait) {
			height:6vh;
		}

		> div.donationForm {
			display:flex;
			flex-direction:row;
			justify-content:space-around;
			align-items:center;
			background-image:linear-gradient(45deg, rgba(160,199,240,0.4), rgba(120,120,155,0.4));
			height:100%;
			padding-left:4px;
			padding-right:4px;
			border:1px solid rgba(200,200,235,0.5);
			border-bottom:none;
			border-top:none;
			box-sizing:border-box;

			@media screen and (max-width:870px) {
				margin-right:auto;
			}

			> input.donateRange {
				margin-right:5px;
				width:80px;

				@media screen and (max-width:$iPhone6Portrait) {
					filter:none;
					box-shadow:none;
				}
			}

			> input.donateAmount {
				width:35px;
				background:transparent;
				color:212020;
				text-shadow:0 0 6px #3a3535;
				outline:none;

				@media screen and (max-width:$iPhone6Landscape) {
					filter:none;
					box-shadow:none;
				}
			}

			> input.donateNow {
				width:10vh;
				min-width:2vh;
				height:75%;
				font-size:2vh;
				border:1px solid rgba(255,255,255,0.4);
			}
		}

		> div.amazonWishList {
			display:none;
			flex-direction:row;
			justify-content:space-around;
			align-items:center;
			margin-right:auto;
			margin-left:1px;
			background-image:linear-gradient(45deg, rgba(160,199,240,0.4), rgba(120,120,155,0.4));
			height:100%;
			padding-left:4px;
			padding-right:4px;
			border:1px solid rgba(200,200,235,0.5);
			border-bottom:none;
			border-top:none;
			box-sizing:border-box;
			opacity:0.7;

			> a.amazonWishListLink {
				background-image:url(../images/amazon.png);
				width:120px;
				height:100%;
				background-size:contain;
				background-repeat:no-repeat;
			}

			@media screen and (min-width:870px) {
				display:flex;
			}

			&:hover {
				opacity:1;
			}
		}

		> a.shareFacebookLink {
			height:100%;
			width:42px;
			margin-right:4px;

			> div.shareFacebook {
				background-size:100% 100%;
				background-repeat:no-repeat;
				background-image:url(../images/fb.jpg);
				opacity:0.7;
				width:42px;
				height:100%;

				&:hover {
					opacity:1;
				}
			}
		}

		div.copyLinkToClipboard {
			display:flex;
			justify-content:center;
			align-items:center;
			text-align:center;
			background-image:linear-gradient(45deg, rgb(57, 138, 224), rgb(43, 43, 88));
			opacity:0.7;
			height:100%;
			border:1px solid rgba(200,200,235,0.5);
			border-bottom:none;
			border-top:none;
			box-sizing:border-box;
			padding-left:2px;
			padding-right:2px;
			width:68px;
			font-size:16px;
			line-height:14px;
			cursor:pointer;
			user-select:none;
			color:white;

			&:hover {
				opacity:1;
			}
		}

		.actionButton {
			width:4vh;
			height:4vh;
			box-shadow:none;
			border-radius:0;
			margin-right:1vw;
			background-color:none;
			background-size:100% 100%;
		}
	}

	> div.commentsWrapper {
		margin-top:5vh;
		margin-bottom:2vh;
		width:95%;
		background:linear-gradient(170deg, black, #797979);
	}
}
