@import '~barfoos2.0/css/viewportDefinitions';
@import '~barfoos2.0/css/util';

div.registerDialog {
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	overflow:hidden;
	width:30vw;

	@media screen and (max-width:$iPhone6Landscape) {
		width:65vw;
	}

	@media screen and (max-width:$iPhone6Portrait) {
		width:95vw;
	}

	> section.page1 {
		display:flex;
		flex-direction:column;
		justify-content:center;
		align-items:center;
		width:100%;
		min-height:15vh;

		> form.registerData {
			position:relative;
			display:flex;
			flex-direction:column;
			justify-content:center;
			align-items:center;
			width:100%;
			overflow:hidden;
			font-size:2vh;

			@media screen and (max-width:$iPhone6Landscape) {
				font-size:4vh;
			}

			@media screen and (max-width:$iPhone6Portrait) {
				font-size:2vh;
			}

			> input {
				box-sizing:border-box;
				font-family:verdana,arial;
				padding:4px;
				outline:none;
				width:95%;
				color:white;
				background-color:rgba(73, 247, 79, 0);
				margin-bottom:4px;

				&:invalid {
					background-color:#ff000021;
				}
			}

			> input.nickname {
				margin-top:10px;
				border-bottom:1px solid #ffffff4f;
			}

			> input.emailAddress {
				border-bottom:1px solid #ffffff4f;
			}

			> input.password {
				margin-top:20px;
				border-bottom:1px solid #ffffff4f;
			}

			> input.repeatPassword {
				border-bottom:1px solid #ffffff4f;
			}

			> input.register {
				width:50%;
				margin:1vh;
				align-self:flex-start;
				font-size:2vh;
				border:1px solid #ffffff9c;

				@media screen and (max-width:$iPhone6Landscape) {
					align-self:center;
					width:auto;
					font-size:4vh;
				}

				@media screen and (max-width:$iPhone6Portrait) {
					width:auto;
					align-self:stretch;
					font-size:2vh;
				}
			}
		}
	}

	> section.page2 {
		display:none;
		flex-direction:column;
		justify-content:center;
		align-items:center;
		width:100%;
		min-height:15vh;

		> span.registerInfo {
			font-size:2vh;
			text-shadow:0px 0px 10px white;
			padding:1vw;

			> sup.smallLetters {
				margin-top:1vh;
				font-size:1.3vh;
			}
		}

		> input.okClose {
			font-size:2vh;
			width:50%;
			padding:1vh;
			margin:1vh;

			@media screen and (min-width:1px) and (max-width:$iPhone6Portrait) {
				width:auto;
				align-self:stretch;
			}
		}
	}
}
