@import '~barfoos2.0/css/viewportDefinitions';
@import '~barfoos2.0/css/util';

div.registerEmailDialog {
	display:flex;

	flex-direction:column;
	justify-content:center;
	align-items:center;

	width:55vw;
	height:30vh;

	@media screen and (min-width:1px) and (max-width:$iPhone6Portrait) {
		width:95vw;
		height:40vh;
	}

	@media screen and (min-width:$iPhone6Portrait) and (max-width:$iPhone6Landscape) {
		width:95vw;
		height:40vh;
	}

	@media screen and (min-width:$iPhone6Landscape) and (max-width:$iPadLandscape) {
		width:95vw;
		height:40vh;
	}

	> section.page1 {
		display:flex;
		flex-direction:column;
		justify-content:center;
		align-items:center;

		> input.emailAddress {
			font-size:5vh;
			width:45vw;
			color:white;
			background-color:rgba(73, 247, 79, 0);
			outline:none;
			padding:4px;
			border:none;
			border-bottom:1px solid #ffffff4f;

			@media screen and (min-width:1px) and (max-width:$iPhone6Portrait) {
				font-size:4vh;
				width:85vw;
			}

			@media screen and (min-width:$iPhone6Portrait) and (max-width:$iPhone6Landscape) {
				font-size:6vh;
				width:75vw;
			}

			@media screen and (min-width:$iPhone6Landscape) and (max-width:$iPadLandscape) {
				font-size:6vh;
				width:75vw;
			}
		}

		> input.emailAddress:focus {
			outline:none;
		}

		> input.emailAddress:invalid {
			background-color:#ff000021;
		}

		> sup.statusUpdate {
			color:rgba(248, 133, 133, 0.92);
			align-self:flex-end;
			font-size:70%;
			height:18px;
			text-shadow:2px 2px 2px #080808;
			position:relative;
			overflow:hidden;
			text-overflow:hidden;
			white-space:nowrap;
		}

		> input.sendEmailAddress {
			font-size:4vh;
			width:20vw;
			height:6vh;
			margin-top:10px;
			font-family:Verdana;
			background-color:rgba(73, 247, 79, 0);
			color:white;

			@media screen and (min-width:1px) and (max-width:$iPhone6Portrait) {
				font-size:4vh;
				width:auto;
				align-self:stretch;
				height:8vh;
			}

			@media screen and (min-width:$iPhone6Portrait) and (max-width:$iPhone6Landscape) {
				font-size:4vh;
				width:auto;
				align-self:stretch;
				height:8vh;
			}

			@media screen and (min-width:$iPhone6Landscape) and (max-width:$iPadLandscape) {
				font-size:4vh;
				width:auto;
				align-self:stretch;
				height:8vh;
			}
		}
	}

	> section.page2 {
		display:none;
		flex-direction:column;
		justify-content:center;
		align-items:center;

		> span.subscribingInfo {
			font-size:2.5vh;
			text-shadow:0px 0px 10px white;
			padding:1vw;

			> sup.smallLetters {
				font-size:1.5vh;
			}
		}

		> input.okClose {
			font-size:3vh;
			width:20vw;
			margin-top:10px;

			@media screen and (min-width:1px) and (max-width:$iPhone6Portrait) {
				font-size:3vh;
				width:70vw;
			}

			@media screen and (min-width:$iPhone6Portrait) and (max-width:$iPhone6Landscape) {
				font-size:5vh;
				width:50vw;
			}
		}
	}
}
