@import '~barfoos2.0/css/viewportDefinitions';
@import '~barfoos2.0/css/util';

div.loginDialog {
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	overflow:hidden;
	width:30vw;

	@media screen and(max-width:$iPadLandscape) {
		width:60vw;
	}

	@media screen and (max-width:$iPhone6Landscape) {
		width:65vw;
	}

	@media screen and (max-width:$iPhone6Portrait) {
		width:95vw;
	}

	> section.page1 {
		display:flex;
		flex-direction:column;
		justify-content:center;
		align-items:center;
		width:100%;
		min-height:20vh;
		padding:1vh;

		> form.loginData {
			position:relative;
			display:flex;
			flex-direction:column;
			justify-content:center;
			align-items:center;
			width:100%;
			overflow:hidden;
			font-size:2vh;

			@media screen and (max-width:$iPhone6Landscape) {
				font-size:4vh;
			}

			@media screen and (max-width:$iPhone6Portrait) {
				font-size:3vh;
			}

			> input {
				box-sizing:border-box;
				font-family:verdana,arial;
				padding:4px;
				outline:none;
				width:95%;
				color:white;
				background-color:rgba(73, 247, 79, 0);
				margin-bottom:4px;

				@media screen and(max-width:$iPadLandscape) {
					height:5vh;
				}

				@media screen and (max-width:$iPhone6Landscape) {
					height:8vh;
				}

				@media screen and (max-width:$iPhone6Portrait) {
					height:8vh;
				}

				&:invalid {
					background-color:#ff000021;
				}
			}

			> input.emailAddress {
				border-bottom:1px solid #ffffff4f;
			}

			> input.password {
				border-bottom:1px solid #ffffff4f;
			}

			> input.login {
				width:50%;
				margin:1vh;
				align-self:flex-start;
				font-size:2vh;
				border:1px solid #ffffff9c;

				@media screen and(max-width:$iPadLandscape) {
					height:5vh;
				}

				@media screen and (max-width:$iPhone6Landscape) {
					align-self:center;
					width:auto;
					font-size:5vh;
					height:8vh;
				}

				@media screen and (max-width:$iPhone6Portrait) {
					width:auto;
					align-self:stretch;
					font-size:3vh;
					height:8vh;
				}
			}

			> div.forgotPassword {
				font-size:11px;
				align-self:flex-end;
				margin-right:2vh;
				text-decoration:underline;
				cursor:pointer;
				text-shadow:1px 1px 10px black;
			}
		}
	}
}
