@import '~barfoos2.0/css/viewportDefinitions';

div.mobileNavigationSection {
	position:absolute;
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
	align-items:stretch;
	top:0;
	bottom:0;
	z-index:5;
	width:80vw;
	border-left:1px solid rgba(230,230,230,0.9);
	box-sizing:border-box;

	animation-name:slideLeft;
	animation-duration:400ms;
	animation-iteration-count:1;
	animation-timing-function:ease-in-out;
}

@keyframes slideLeft {
	from {
		right:-50vw;
	}
	to {
		right:0vw;
	}
}
