@import '~barfoos2.0/css/viewportDefinitions';

@font-face {
	font-family:GloriaHallelujah;
	src:url(../fonts/GloriaHallelujah.ttf);
	font-weight:normal;
	font-style:normal;
}

div#NavSection {
	position:relative;
	font-family:Nunito, Verdana;
	font-size:14px;
	color:#505b5d;
	z-index:5;
	top:0px;
	left:0px;
	right:0;
	/*filter:drop-shadow(-2px 0px 1px black);*/


	@media screen and(max-width:$iPadLandscape) {
		right:0px;
	}

	> div.content {
		display:flex;
		flex-direction:row;
		flex-wrap:wrap;
		justify-content:space-around;
		align-items:center;
		height:10vh;
		background-image:radial-gradient(#000000ed, #020c09);
		transition:all 200ms linear;

		@media screen and(max-width:$iPadLandscape) {
			padding-left:3vw;
		}

		&.fixedTop {
			background-image:none;
			background-color:#ffffffe8;

			> div.anchors {
				> ul.navList {
					@media screen and(max-width:$iPadLandscape) {
						background-image:none;
						background-color:#ffffffe8;
					}

					> li > a {
						color:#2d2a2acf;

						&:hover {
							color:black;

							@media screen and(max-width:$iPadLandscape) {
								color:white;
							}
						}
					}
				}
			}

			> div.leftSide > a.logo > div.logo {

			}
		}

		@media screen and(max-width:$iPadLandscape) {
			justify-content:space-between;
		}

		> div.leftSide {
			display:flex;
			flex-direction:row;
			justify-content:flex-start;
			align-items:center;

			@media screen and(max-width:$iPadLandscape) {
			}

			> a.logo {
				filter:grayscale(0.7);

				> div.logo {
					width:64px;
					height:64px;
					background-image:url(../images/dvglogo.png);
					background-size:contain;
					background-repeat:no-repeat;
					background-position:center center;
					transition:all 400ms linear;

					@media screen and(max-width:$iPadLandscape) {
						width:40px;
						height:40px;
					}
				}

				&:hover {
					filter:drop-shadow(2px 2px 4px rgba(255,255,255,0.6));
				}
			}

			> a.shop {
				> div.shop {
					width:52px;
					height:52px;
					margin-left:2vw;
					background-image:url(../images/shop.png);
					background-size:contain;
					background-repeat:no-repeat;
					background-position:center center;

					@media screen and(max-width:$iPadLandscape) {
						width:40px;
						height:40px;
					}
				}

				&:hover {
					filter:drop-shadow(2px 2px 6px rgba(255,255,255,0.6));
				}
			}
		}



		> div.anchors {
			font-family:GloriaHallelujah;
			font-size:0.9rem;
			width:60vw;

			@media screen and(max-width:$iPadPortrait) {
				font-size:2vh;
			}

			@media screen and(max-width:$iPadLandscape) {
				position:absolute;
				font-size:5vh;
				align-self:flex-start;
				right:0;
				width:auto;

				&:before {
					content:'\f0c9';
					font-family:"barfoos";
					font-style:normal;
					font-weight:normal;
					speak:none;
					display:inline-block;
					text-decoration:inherit;
					width:1em;
					margin-right:.2em;
					text-align:center;
					font-variant:normal;
					text-transform:none;
					line-height:1em;
					margin-left:.2em;
					margin-right:4vw;
					-webkit-font-smoothing:antialiased;
					-moz-osx-font-smoothing:grayscale;
				}

				&.open {
					> ul.navList {
						right:0;
					}
				}
			}

			> ul.navList {
				list-style:none;
				display:flex;
				flex-direction:row;
				justify-content:flex-start;
				align-items:baseline;

				@media screen and(max-width:$iPadLandscape) {
					background-image:radial-gradient(#000000d4, #020c09f2);
					position:absolute;
					top:10vh;
					left:auto;
					right:-80vw;
					height:90vh;
					width:80vw;
					border-left:1px solid white;
					font-size:4vh;
					overflow:hidden;
					white-space:nowrap;
					flex-direction:column;
					align-items:flex-end;
					justify-content:flex-start;
					transition:all 200ms linear;
				}

				> li {
					margin-right:1.2vw;
					cursor:pointer;

					> a {
						color:#ffffffcf;
						font-weight:bold;
						text-transform:uppercase;
						text-decoration:none;
						white-space:nowrap;

						&:hover {
							color:white;
							text-decoration:underline;
						}
					}

					> a.interface {
						margin-left:1vw;
					}

					> a.interface.first {
						margin-left:2vw;
					}
				}

				> li.followMe {
					transform:rotate(-5deg);

					> a.followMe {
						color:#923838;
					}
				}

				> li.interface {
					margin-right:0px;
					font-family:Arial;
				}

				> li.interface.first {
					@media screen and (max-width:$iPadLandscape) {
						margin-top:8vh;
						margin-left:0;
						border-top:1px solid gray;
						display:flex;
						width:100%;
						justify-content:flex-end;
					}
				}

				> li.interface.last {
					@media screen and (max-width:$iPadLandscape) {
						margin-bottom:4vh;
						margin-left:0;
						border-bottom:1px solid gray;
						display:flex;
						width:100%;
						justify-content:flex-end;
					}
				}

				> li > a.interface {
					box-sizing:border-box;
					cursor:pointer;
					filter:grayscale(1);

					@media screen and (max-width:$iPhone6Landscape) {

					}

					&:hover {
						filter:brightness(1.2);
					}

					&:after {
						font-size:0.8rem;

						@media screen and (max-width:$iPhone6Portrait) {
							font-size:4vh
						}

						@media screen and (max-width:$iPadLandscape) {
							font-size:4vh;
							margin-top:4%;
						}
					}
				}

				> li > a.registerName {
					display:flex;

					&:after {
						content:'✎ Registrieren';
						margin-bottom:4%;

						@media screen and (max-width:$iPhone6Landscape) {
						}
					}
				}

				> li > a.login {
					display:flex;

					&:after {
						content:'👤 Anmelden';

						@media screen and (max-width:$iPhone6Landscape) {
						}
					}
				}

				> li > a.logout {
					display:none;

					font-size:1.5vh;
					width:15vw;
					flex-direction:column;
					justify-content:center;
					align-items:flex-end;

					&:after {
						content:'🚫 Abmelden';
						white-space:nowrap;

						@media screen and (max-width:$iPhone6Landscape) {
						}
					}
				}

				> li.mobileExclusive {
					display:none;

					@media screen and (max-width:$iPadLandscape) {
						display:flex;
					}
				}
			}
		}

		div.socialMediaLinks {
			width:14vw;

			@media screen and (max-width:$iPadLandscape) {
				width:75vw;
				margin-top:5vh;
			}

			> ul.socialLinks {
				list-style:none;
				display:flex;
				flex-direction:row;
				justify-content:space-between;
				align-items:center;

				> li > a > div {
					width:42px;
					height:42px;

					@media screen and(max-width:$iPadPortrait) {
						width:12vw;
						height:12vw;
					}
				}

				> li > a.twitchLink {
					> div.twitchImage {
						background-image:url(../images/twitch_icon.png);
						background-size:cover;
						cursor:pointer;
						filter:grayscale(1);

						&:hover {
							filter:brightness(1.3) sepia(0.1);
						}
					}
				}

				> li > a.bitChuteLink {
					> div.bitchuteImage {
						background-image:url(../images/bs_icon.png);
						background-size:cover;
						cursor:pointer;
						filter:grayscale(1);

						&:hover {
							filter:brightness(1.3) sepia(0.1);
						}
					}
				}

				> li > a.youtubeLink {
					> div.youtubeImage {
						background-image:url(../images/yt_icon.png);
						background-size:cover;
						cursor:pointer;
						filter:grayscale(1);

						&:hover {
							filter:brightness(1.3) sepia(0.3);
						}
					}
				}

				> li > a.facebookLink {
					> div.fbImage {
						background-image:url(../images/fb_icon.png);
						background-size:cover;
						cursor:pointer;
						filter:grayscale(1);

						&:hover {
							filter:brightness(1.3) sepia(0.3);
						}
					}
				}
			}
		}
	}
}
