@import '~barfoos2.0/css/viewportDefinitions';

@font-face {
	font-family:"heart";
	src:url(../fonts/heart.ttf);
}

div#topSection {
	position:relative;
	height:100vh;
	width:100vw;

	> video.introduction {
		position:absolute;
		height:100vh;
		width:auto;
		align-self:center;
		transition:opacity 800ms linear;

		@media screen and (max-width:$iPadPortrait) {
			width:100%;
		}

		@keyframes fadeOut {
			from {
				opacity: 0.5;
			}

			to {
				opacity: 0;
			}
		}
	}

	> video.introduction.darken {
		opacity:0.5;
	}

	> div.gridOverlay {
		display:none;
		position:absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		z-index:1;
		background-image:none;
		background-repeat:repeat;
		background-color:rgba(0,0,0,0.5);
	}

	> video.introduction.darken + div.gridOverlay {
		background-image:url(../images/grid.png);
	}

	nav {
		> ul.navOverlay {
			list-style:none;
			display:flex;
			flex-direction:column;
			align-items:center;
			justify-content:flex-start;
			position:absolute;
			top:0;
			left:0;
			right:0;
			bottom:0;
			z-index:2;
			background-color:transparent;

			user-select:none;
			-moz-user-select:none;

			transform-style:preserve-3d;
			perspective:1500px;

			overflow:hidden;

			> li {
				width:auto;
				height:auto;

				display:flex;
				flex-direction:row;
				flex-wrap:nowrap;
				justify-content:space-around;

				> a {
					text-decoration:none;
					display:block;
					padding:0;
					color:$defaultTextColor;
				}
			}

			> li.homeContainer {
				flex-grow:1;

				> a.home {
					background-image:url(../images/dvg.png);
					background-size:100% 100%;
					width:33vh;
					height:33vh;
				}

				@media screen and (max-width:$iPhone6Portrait) {
					flex-grow:0;
				}
			}

			> li.jumpListContainer {
				flex-grow:4;
				user-select:none;
				-moz-user-select:none;

				> ul.jumpList {
					list-style:none;
					display:flex;
					flex-direction:row;
					flex-wrap:wrap;
					justify-content:center;

					width: 90vw;

					> li {
						margin-right:20px;

						> a {
							display:inline-flex;
							color:$defaultTextColor;
							font-size:24px;
							text-shadow:0px 0px 20px white, 2px 2px 2px black;
							font-family:Verdana, "Lucida Console";
							white-space:nowrap;
							cursor:pointer;
							text-decoration:none;
							transition:transform 100ms ease-in, text-shadow 100ms linear;

							&:hover {
								text-decoration:underline;
							}
						}

						> a.followMe {
								color:#fff;
								text-shadow:0px 0px 2px white, -2px -2px 2px black;
								transform:rotate(-35deg) translate(-80px, -20px);
								font-size:30px;
								position:absolute;
								font-family:Verdana;
								border:1px solid rgba(220, 220, 220, 0.8);
								padding:6px;
								border-radius:16px;
								text-decoration-color:#83b3e86e;
								background:linear-gradient(45deg, rgba(125, 174, 210, 0.5), rgba(124, 126, 199, 0.5));
								filter:sepia(0.3);

								&:hover {
									filter:brightness(1.3) sepia(0.3);
									transform:rotate(-35deg) translate(-80px, -20px) scale(1.2,1.2);
									text-decoration:none;
								}

								@media screen and (max-width:$iPhone6Portrait) {
									font-size:20px;
									filter:brightness(1.3) sepia(0.3);
									transform:rotate(-35deg) translate(30px, 10px);
								}

								@media screen and (min-width:$iPhone6Portrait) and (max-width:$iPhone6Landscape) {
									filter:brightness(1.3) sepia(0.3);
									font-size:24px;
								}
						}

						@media screen and (max-width:$iPhone6Portrait) {
							margin-right:0;
						}
					}

					@media screen and (max-width:$iPhone6Portrait) {
						flex-direction:column;
						justify-content:space-around;
						align-items:center;
					}
				}

				@media screen and (max-width:$iPhone6Portrait) {
					flex-grow:3;
				}
			}

			> li.titleContainer {
				flex-grow:8;

				> a.title {
					font-size:14vw;
					font-family:"heart";
					white-space:nowrap;
					color:#daffce05;
					height:10vw;
					line-height:6vw;
					letter-spacing:1vw;
					perspective:1500px;
					transform-style:preserve-3d;
					align-self:flex-start;
					animation:titleFadeIn 1800ms 1 ease-in-out;
					text-shadow:0px 0px 14px white;
					filter:drop-shadow(3px 3px black);

					> span {
						display:inline-flex;
					}

					@media screen and (max-width:$iPhone6Portrait) {
						position:relative;
						top:30px;
					}

					@keyframes titleFadeIn {
						0% {
							color:#e5fbfff2;
							filter:drop-shadow(-33px 3px white);
							text-shadow:0px 0px 2px black;
						}
						50% {
							filter:drop-shadow(33px 23px black);
						}
						100% {
							color:#daffce05;
							filter:drop-shadow(3px 3px black);
							text-shadow:0px 0px 16px white;
						}
					}
				}
			}

			> li.WatchIntroContainer {
				flex-grow:2;
				user-select:none;
				-moz-user-select:none;

				position:relative;

				> a.revealIntro {
					position:relative;

					font-size:11vw;
					font-weight:bold;
					font-family:"Verdana", "Lucida Console";
					line-height:7vw;
					height:10vw;
					padding:4px;
					overflow:hidden;
					white-space:nowrap;
					color:rgba(0, 0, 0, 0.8);
					text-shadow:0px 0px 14px rgba(255, 255, 255, 0.7);
					filter:drop-shadow(3px 4px 2px);
					cursor:pointer;
					transition:filter 200ms ease-out;
					opacity:0.8;

					&:hover {
						filter:drop-shadow(-1px 1px 2px);
						text-shadow:0px 0px 10px rgba(255, 255, 255, 0.7);
						opacity:0.9;
					}

					&.returnSymbol {
						line-height:11vw;
						height:13vw;
					}

					&.replaySymbol {
						line-height:11vw;
						height:13vw;
						font-size:7vw;
					}

					&.clone {
						position:absolute;
						top:0;
						left:0;
					}

					@media screen and (max-width:$iPhone6Portrait) {
						line-height:14vw;
						height:14vw;
						display:none;
					}

					@media screen and(max-width:$iPhone6Landscape) {
						line-height:12vw;
						height:12vw;
						display:none;
					}
				}

				@media screen and (max-width:$iPhone6Portrait) {
					height:10vw;
				}
			}

			> li.slideDownContainer {
				flex-grow:2;
				user-select:none;
				-moz-user-select:none;

				> a.slideDownArrow {
					position:absolute;
					background-image:url(../images/arrowdown.png);
					background-size:100% 100%;
					width:11vh;
					height:12vh;
					margin-top:5vh;
					cursor:pointer;
					z-index:3;
					transform:translateY(-18vh) translateX(5vw);

					&:hover {
						animation:2100ms ease 0ms infinite normal forwards bouncequick;
					}

					&.initialBounce {
						animation:1100ms linear 0ms 2 normal forwards bouncequick;
					}

					@keyframes bouncequick {
						0%, 30%, 50%, 80%, 100% {
							transform:translateY(-18vh) translateX(5vw) rotate(0deg);
						}
						20%, 70% {
							transform:translateY(-15vh) translateX(5vw) rotate(10deg);
						}
						40%, 65%, 75% {
							transform:translateY(-16vh) translateX(5vw) rotate(8deg);
						}
						60% {
							transform:translateY(-14vh) translateX(5vw) rotate(4deg);
						}
					}

					@media screen and (max-width:$iPhone6Portrait) {
						@keyframes bounce {
							0%, 30%, 50%, 80%, 100% {
								transform:translateY(-9vh) translateX(5vw);
							}
							20%, 65%, 70% {
								transform:translateY(-7vh) translateX(5vw);
							}
							40% {
								transform:translateY(-8vh) translateX(5vw);
							}
							60% {
								transform:translateY(-6vh) translateX(5vw);
							}
						}
					}
				}
			}
		}
	}

	> div.userOptions {
		position:fixed;
		left:4vw;
		top:2vh;
		z-index:1000;
		display:flex;
		flex-direction:row;
		flex-wrap:wrap;
		justify-content:flex-start;

		@media screen and (max-width:$iPhone6Landscape) {
			flex-direction:column;
			width:auto;
			left:0px;
		}

		> div {
			background-color:rgba(20, 20, 40, 0.9);
			box-sizing:border-box;
			border:1px solid rgba(245, 245, 245, 0.8);
			cursor:pointer;
			border-radius:4px;
			padding:4px;
			height:33px;
			margin-bottom:1px;
			filter:sepia(0.7);

			@media screen and (max-width:$iPhone6Landscape) {
				border-left:none;
				border-radius:0px 4px 4px 0px;
				width:44px;
				height:44px;
			}

			&:hover {
				border:1px solid rgba(205, 215, 255, 0.9);
				background-color:rgba(20, 20, 60, 0.9);
				filter:brightness(1.4) sepia(0.3);
			}

			&:after {
				font-size:16px;
				margin:auto;
				color:rgba(243, 240, 255, 0.9);
				text-shadow:0px 0px 15px white;

				@media screen and (max-width:$iPhone6Landscape) {
					font-size:14px;
				}

				@media screen and (max-width:$iPhone6Portrait) {
					font-size:8vw;
				}
			}
		}

		> div.registerName {
			display:flex;

			&:after {
				content:'✎ Registrieren';

				@media screen and (max-width:$iPhone6Landscape) {
					content:'✎';
				}
			}
		}

		> div.login {
			display:flex;

			&:after {
				content:'👤 Login';

				@media screen and (max-width:$iPhone6Landscape) {
					content:'👤';
				}
			}
		}

		> div.logout {
			display:none;

			&:after {
				content:'🚫 Logout';

				@media screen and (max-width:$iPhone6Landscape) {
					content:'🚫';
				}
			}
		}

		> div.startLiveChat {
			display:flex;
			margin-left:2vh;

			@media screen and (max-width:$iPhone6Landscape) {
				margin-left:0px;
			}

			&:after {
				content:'💬 Live Chat';

				@media screen and (max-width:$iPhone6Landscape) {
					content:'💬';
				}
			}

			&.shake {
				border:1px solid rgba(245, 55, 55, 0.8);
				animation-name:shake;
				animation-duration:6.8s;
				animation-iteration-count:infinite;
				animation-timing-function:ease-in-out;
			}

			> div.rndPreviewMessage {
				position:absolute;
				background-color:transparent;
				display:flex;
				flex-direction:row;
				color:white;
				opacity:1;
				width:50vw;
				animation-name:fadeAwayPreview;
				animation-duration:3s;
				animation-iteration-count:1;
				animation-timing-function:linear;

				> div.content {
					font-weight:bold;
					margin-left:1vw;
				}
			}

			@keyframes fadeAwayPreview {
				from {
					transform:translateX(0px);
				}
				to {
					transform:translateX(50vw);
				}

				0% { opacity:1; }
				70% { opacity:0.8; }
				100% { opacity:0; }
			}

			@keyframes shake {
				0% { transform: translate(2px, 1px) rotate(0deg); }
				2% { transform: translate(-1px, -2px) rotate(-1deg); }
				4% { transform: translate(-3px, 0px) rotate(1deg); }
				6% { transform: translate(0px, 2px) rotate(0deg); }
				8% { transform: translate(1px, -1px) rotate(1deg); }
				10% { transform: translate(-1px, 2px) rotate(-1deg); }
				12% { transform: translate(-3px, 1px) rotate(0deg); }
				14% { transform: translate(2px, 1px) rotate(-1deg); }
				16% { transform: translate(-1px, -1px) rotate(1deg); }
				18% { transform: translate(2px, 2px) rotate(0deg); }
				20% { transform: translate(0, 0) rotate(0deg); }
				100% { transform: translate(0, 0) rotate(0deg); }
			}
		}

		> div.startLiveChat.omgItsHim {
			&:before {
				content:'✠';
				position:relative;
				color:white;
				font-size:4vh;
				order:1;
				left:15px;
				top:-10px;

				@media screen and (max-width:$iPhone6Landscape) {
					left:5px;
					font-size:5vh;
				}

				@media screen and (max-width:$iPhone6Portrait) {
					left:5px;
					font-size:3vh;
				}
			}
		}

		> div.setupBackgroundVideo {
			flex-basis:100%;
			display:flex;
			flex-direction:row;
			align-items:center;
			color:white;
			border:none;
			background:none;
			cursor:default;
			font-size:14px;

			@media screen and (max-width:$iPhone6Landscape) {
				display:none !important;
			}

			@media screen and (max-width:$iPhone6Portrait) {
				display:none !important;
			}

			> input#disabledBackgroundVideo {
				margin-right:4px;
				cursor:pointer;
			}

			> label {
				color:white;
				text-shadow:0px 0px 15px white;
				cursor:pointer;
			}
		}
	}

	> div.socialMediaLinks {
		position:fixed;
		right:4vw;
		top:2vh;
		box-sizing:border-box;
		display:flex;
		flex-direction:row;
		z-index:1000;
		border-radius:4px;
		transition:all 100ms linear;
		animation:fadeInScroll 500ms linear 1;

		@media screen and (max-width:$iPhone6Portrait) {
			flex-direction:column;
		}

		> a.youtubeIcon {
			width:64px;
			height:64px;
			background-image:url(../images/yt_icon.png);
			cursor:pointer;
			filter:sepia(0.7);

			&:hover {
				filter:brightness(1.3) sepia(0.3);
			}
		}

		> a.facebookIcon {
			width:64px;
			height:64px;
			background-image:url(../images/fb_icon.png);
			cursor:pointer;
			filter:sepia(0.7);

			&:hover {
				filter:brightness(1.3) sepia(0.3);
			}
		}
	}

	@keyframes fadeInScroll {
		from {
			opacity:0;
		}
		to {
			opacity:1;
		}
	}
}
