@import '~barfoos2.0/css/viewportDefinitions';

div#topSection {
	position:relative;
	height:100vh;
	width:100vw;

	> video.introduction {
		position:absolute;
		height:100vh;
		width:auto;
		box-shadow:0px 0px 55px 5px white;
		align-self:center;
		transition:opacity 800ms linear;

		@media screen and (max-width:$iPadPortrait) {
			width:100%;
		}

		@keyframes fadeOut {
			from {
				opacity: 0.5;
			}

			to {
				opacity: 0;
			}
		}
	}

	> video.introduction.darken {
		opacity:0.5;
	}

	> div.gridOverlay {
		display:inline-block;
		position:absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		z-index:1;
		background-image:none;
		background-repeat:repeat;
	}

	> video.introduction.darken + div.gridOverlay {
		background-image:url(../images/grid.png);
	}

	nav {
		> ul.navOverlay {
			list-style:none;
			display:flex;
			flex-direction:column;
			align-items:center;
			justify-content:flex-start;
			position:absolute;
			top:0;
			left:0;
			right:0;
			bottom:0;
			z-index:2;
			background-color:transparent;

			user-select:none;
			-moz-user-select:none;

			transform-style:preserve-3d;
			perspective:1500px;

			overflow:hidden;

			> li {
				width:auto;
				height:auto;

				display:flex;
				flex-direction:row;
				flex-wrap:nowrap;
				justify-content:space-around;

				> a {
					text-decoration:none;
					display:block;
					padding:0;
					color:$defaultTextColor;
				}
			}

			> li.homeContainer {
				flex-grow:1;

				> a.home {
					background-image:url(../images/dvg.png);
					background-size:100% 100%;
					width:33vh;
					height:33vh;
				}

				@media screen and (max-width:$iPhone6Portrait) {
					flex-grow:0;
				}
			}

			> li.jumpListContainer {
				flex-grow:4;
				user-select:none;
				-moz-user-select:none;

				> ul.jumpList {
					list-style:none;
					display:flex;
					flex-direction:row;
					flex-wrap:wrap;
					justify-content:center;

					width: 90vw;

					> li {
						margin-right:20px;

						> a {
							display:inline-flex;
							color:$defaultTextColor;
							font-size:24px;
							font-weight:bold;
							text-shadow:0px 0px 20px white;
							font-family:cursive, "Lucida Console";
							white-space:nowrap;
							cursor:pointer;
							transition:transform 100ms ease-in, text-shadow 100ms linear;

							&:hover {
								text-shadow:0px 0px 20px rgba(180,190,240,1);
								text-decoration:underline;
							}
						}

						> a.followMe {
								color:rgba(190,0,0,1);
								text-shadow:0px 0px 2px white, -2px -2px 2px black;
								transform:rotate(-35deg) translate(-80px, -20px);
								font-size:35px;
								position:absolute;
								font-family:Verdana;
								border:2px dashed rgba(220,220,220,0.8);
								padding:4px;
								border-radius:16px;
								text-decoration-color:red;
								text-decoration-style:dotted;
								background:linear-gradient(45deg, rgba(50,0,0,0.5), rgba(255,220,220,0.5));

								@media screen and (max-width:$iPhone6Portrait) {
									font-size:20px;
									transform:rotate(-35deg) translate(30px, 10px);
								}

								@media screen and (min-width:$iPhone6Portrait) and (max-width:$iPhone6Landscape) {
									font-size:24px;
								}
						}

						@media screen and (max-width:$iPhone6Portrait) {
							margin-right:0;
						}
					}

					@media screen and (max-width:$iPhone6Portrait) {
						flex-direction:column;
						justify-content:space-around;
						align-items:center;
					}
				}

				@media screen and (max-width:$iPhone6Portrait) {
					flex-grow:3;
				}
			}

			> li.titleContainer {
				flex-grow:8;

				> a.title {
					font-size:10vw;
					font-weight:bold;
					font-family:cursive, "Lucida Console";
					white-space:nowrap;
					color:rgba(245,245,245,1);
					text-shadow:0px 0px 16px white;

					height:10vw;
					line-height:5vw;

					perspective:1500px;
					transform-style:preserve-3d;

					align-self:flex-start;

					> span {
						display:inline-flex;
					}

					@media screen and (max-width:$iPhone6Portrait) {
						position:relative;
						top:30px;
					}
				}
			}

			> li.WatchIntroContainer {
				flex-grow:2;
				user-select:none;
				-moz-user-select:none;

				position:relative;

				> a.revealIntro {
					position:relative;

					font-size:9vw;
					font-weight:bold;
					font-family:"Verdana", "Lucida Console";
					line-height:7vw;
					height:10vw;
					padding:4px;
					overflow:hidden;

					white-space:nowrap;
					color:rgba(0,0,0,0.8);
					text-shadow:0px 0px 14px rgba(255,255,255,0.7);

					cursor:pointer;

					&:hover {
						color:$defaultHoverColor;
					}

					&.returnSymbol {
						line-height:11vw;
						height:13vw;
					}

					&.replaySymbol {
						line-height:11vw;
						height:13vw;
						font-size:7vw;
					}

					&.clone {
						position:absolute;
						top:0;
						left:0;
					}

					@media screen and (max-width:$iPhone6Portrait) {
						line-height:14vw;
						height:14vw;
					}

					@media screen and(max-width:$iPhone6Landscape) {
						line-height:12vw;
						height:12vw;
					}
				}

				@media screen and (max-width:$iPhone6Portrait) {
					height:10vw;
				}
			}

			> li.slideDownContainer {
				flex-grow:2;
				user-select:none;
				-moz-user-select:none;

				> a.slideDownArrow {
					position:absolute;
					background-image:url(../images/arrowdown.png);
					background-size:100% 100%;
					width:10vh;
					height:10vh;
					margin-top:5vh;
					cursor:pointer;
					z-index:3;
					transform:translateY(-18vh) translateX(5vw);
					text-shadow:0 0 10px white;

					&:hover {
						animation:2100ms ease 0ms infinite normal forwards bouncequick;
					}

					&.initialBounce {
						animation:1100ms linear 0ms 2 normal forwards bouncequick;
					}

					@keyframes bouncequick {
						0%, 30%, 50%, 80%, 100% {
							transform:translateY(-18vh) translateX(5vw) rotate(0deg);
						}
						20%, 70% {
							transform:translateY(-15vh) translateX(5vw) rotate(10deg);
						}
						40%, 65%, 75% {
							transform:translateY(-16vh) translateX(5vw) rotate(8deg);
						}
						60% {
							transform:translateY(-14vh) translateX(5vw) rotate(4deg);
						}
					}

					@media screen and (max-width:$iPhone6Portrait) {
						@keyframes bounce {
							0%, 30%, 50%, 80%, 100% {
								transform:translateY(-9vh) translateX(5vw);
							}
							20%, 65%, 70% {
								transform:translateY(-7vh) translateX(5vw);
							}
							40% {
								transform:translateY(-8vh) translateX(5vw);
							}
							60% {
								transform:translateY(-6vh) translateX(5vw);
							}
						}
					}
				}
			}
		}
	}

	> div.userOptions {
		position:fixed;
		left:4vw;
		top:2vh;
		z-index:1000;
		display:flex;
		flex-direction:column;
		justify-content:flex-start;
		filter:sepia(0.4);

		@media screen and (max-width:$iPhone6Landscape) {
			left:0px;
		}

		> div {
			background-color:rgba(20, 20, 40, 0.9);
			box-sizing:border-box;
			border:1px solid rgba(245, 245, 245, 0.8);
			cursor:pointer;
			border-radius:4px;
			padding:4px;
			height:33px;
			margin-bottom:1px;

			@media screen and (max-width:$iPhone6Landscape) {
				border-left:none;
				border-radius:0px 4px 4px 0px;
				width:33px;
			}

			&:hover {
				border:1px solid rgba(205, 215, 255, 0.9);
				background-color:rgba(20, 20, 60, 0.9);
				filter:brightness(1.4);
			}

			&:after {
				font-size:16px;
				margin:auto;
				color:rgba(243, 240, 255, 0.9);
				text-shadow:0px 0px 15px white;

				@media screen and (max-width:$iPhone6Landscape) {
					font-size:14px;
				}

				@media screen and (max-width:$iPhone6Portrait) {
					font-size:4vw;
				}
			}
		}

		> div.registerName {
			display:flex;

			&:after {
				content:'✎ Registrieren';

				@media screen and (max-width:$iPhone6Landscape) {
					content:'✎';
				}
			}
		}

		> div.login {
			display:flex;

			&:after {
				content:'👤 Login';

				@media screen and (max-width:$iPhone6Landscape) {
					content:'👤';
				}
			}
		}

		> div.logout {
			display:none;

			&:after {
				content:'👤 Logout';

				@media screen and (max-width:$iPhone6Landscape) {
					content:'👤';
					text-shadow:rgba(200,20,20,0.95);
				}
			}
		}

		> div.startLiveChat {
			display:flex;
			margin-top:2vh;

			&:after {
				content:'💬 Live Chat';

				@media screen and (max-width:$iPhone6Landscape) {
					content:'💬';
				}
			}
		}

		> div.startLiveChat.omgItsHim {
			&:before {
				content:'✠';
				position:absolute;
				right: -1vh;
				bottom: 1.5vh;
				color:white;
				font-size:4vh;
			}
		}
	}
}
