div#topSection > div.gridOverlay {
	display:inline-block;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:1;
	background-image:none;
	background-repeat:repeat;
}

div#topSection > video.introduction {
	position:relative;
	height:100vh;
	width:100%;
}

div#topSection > video.introduction.darken {
	filter:grayscale(0.5);
	opacity:0.7;
}

div#topSection > video.introduction.darken + div.gridOverlay {
	background-image:url(../images/grid.png);
}

@media (min-aspect-ratio: 16/9) {
	video.introduction {
		width:100%;
		height:auto;
	}
}
