@import 'viewportDefinitions';

div#topSection {
	> video.introduction {
		position:relative;
		height:100vh;
		width:auto;
		box-shadow:0px 0px 115px 15px white;
		/*mix-blend-mode:hard-light;*/

		@media screen and (max-width:$iPadPortrait) {
			width:100%;
		}
	}

	> video.introduction.darken {
		opacity:0.7;
	}

	> div.gridOverlay {
		display:inline-block;
		position:absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		z-index:1;
		background-image:none;
		background-repeat:repeat;
	}

	> video.introduction.darken + div.gridOverlay {
		background-image:url(../images/grid.png);
	}

	> nav {
		> ul.navOverlay {
			list-style:none;
			display:flex;
			flex-direction:column;
			align-items:center;
			justify-content:flex-start;
			position:absolute;
			top:0;
			left:0;
			right:0;
			bottom:0;
			z-index:2;
			background-color:transparent;
			mix-blend-mode:lighten;

			transform-style:preserve-3d;
			perspective:1500px;

			&.miniNav {
				bottom:20px;
				left:20px;
				width:200px;
				height:200px;
			}

			> li {
				width:auto;
				height:auto;

				display:flex;
				flex-direction:row;
				flex-wrap:nowrap;
				justify-content:space-around;

				opacity:1;

				> a {
					text-decoration:none;
					display:block;
					padding:0;
					color:$defaultTextColor;
				}
			}

			> li.homeContainer {
				flex-grow:1;

				> a.home {
					background-image:url(../images/dvg.jpg);
					background-size:100% 100%;
					width:calc(100vh / 3);
					height:calc(100vh / 3)
				}

				@media screen and (max-width:$iPhone6Portrait) {
					flex-grow:0;
				}
			}

			> li.jumpListContainer {
				flex-grow:4;
				user-select:none;
				-moz-user-select:none;

				> ul.jumpList {
					list-style:none;
					display:flex;
					flex-direction:row;
					flex-wrap:wrap;
					justify-content:center;

					width: 90vw;

					> li {
						margin-right:20px;

						> a {
							color:$defaultTextColor;
							font-size:24px;
							font-weight:bold;
							text-shadow:0px 0px 20px white;
							font-family:cursive, "Lucida Console";
							white-space:nowrap;
							cursor:pointer;

							&:hover {
								text-shadow:0px 0px 8px rgba(255,220,0,0.65);
							}
						}

						@media screen and (max-width:$iPhone6Portrait) {
							margin-right:0;
						}
					}

					@media screen and (max-width:$iPhone6Portrait) {
						flex-direction:column;
						justify-content:space-around;
						align-items:center;
					}
				}

				@media screen and (max-width:$iPhone6Portrait) {
					flex-grow:3;
				}
			}

			> li.titleContainer {
				flex-grow:8;

				> a.title {
					font-size:10vw;
					font-weight:bold;
					font-family:cursive, "Lucida Console";
					white-space:nowrap;
					color:rgba(245,245,245,1);
					text-shadow:0px 0px 16px white;

					height:10vw;
					line-height:5vw;

					perspective:1500px;
					transform-style:preserve-3d;

					align-self:flex-start;

					> span {
						display:inline-flex;
					}

					@media screen and (max-width:$iPhone6Portrait) {
						position:relative;
						top:30px;
					}
				}
			}

			> li.WatchIntroContainer {
				flex-grow:2;
				user-select:none;
				-moz-user-select:none;

				> a.revealIntro {
					position:relative;

					font-size:15vw;
					font-weight:bold;
					font-family:"Verdana", "Lucida Console";
					line-height:7vw;
					height:10vw;
					padding:4px;
					overflow:hidden;

					white-space:nowrap;
					color:rgba(0, 0, 0, 1);
					text-shadow:0px 0px 14px white;

					cursor:pointer;

					&:hover {
						color:rgba(10, 10, 70, 0.8);
					}

					&.returnSymbol {
						line-height:11vw;
						height:13vw;
					}

					@media screen and (max-width:$iPhone6Portrait) {
						top:4px;
						line-height:14vw;
						height:14vw;
					}

					@media screen and(max-width:$iPhone6Landscape) {
						line-height:12vw;
						height:12vw;
					}
				}

				@media screen and (max-width:$iPhone6Portrait) {
					height:10vw;
				}
			}
		}
	}
}
