.flutterStraight {
	transform:translateZ(1500px) rotateY(800deg) translateY(-5vw) translateX(5vw) rotateZ(110deg);
}

.flutterLeft {
	transform:translateZ(1500px) rotateY(-700deg) translateY(-30vw) translateX(-40vw) rotateZ(170deg);
}

.flutterRight {
	transform:translateZ(1500px) rotateY(-800deg) rotateX(40deg) translateY(-30vw) translateX(-10vw) rotateZ(-140deg);
}
