@import 'viewportDefinitions';

@keyframes invisible {
	from {
		opacity:1;
	}
	to {
		opacity:0;
	}
}

@keyframes flutterRight {
	from {
		transform:translateZ(0px) rotateY(0deg) rotateX(0deg) translateY(0vw) translateX(0vw) rotateZ(0deg);
		opacity:1;
	}
	to {
		transform:translateZ(1500px) rotateY(-800deg) rotateX(40deg) translateY(-30vw) translateX(-10vw) rotateZ(-140deg);
		opacity:0;
	}
}

@keyframes flutterStraight {
	from {
		transform:translateZ(0px) rotateY(0deg) translateY(0vw) translateX(0vw) rotateZ(0deg);
		opacity:1;
	}
	to {
		transform:translateZ(1500px) rotateY(600deg) translateY(-30vw) translateX(-30vw) rotateZ(180deg);
		opacity:0;
	}
}

@keyframes flutterLeft {
	from {
		transform:translateZ(0px) rotateY(0deg) translateY(0vw) translateX(0vw) rotateZ(0deg);
		opacity:1;
	}
	to {
		transform:translateZ(1500px) rotateY(-700deg) translateY(-30vw) translateX(-40vw) rotateZ(170deg);
		opacity:0;
	}
}

@keyframes moveThroughScreen {
	from {
		transform:translateZ(0px) translateY(0px);
		opacity:1;
	}
	to {
		transform:translateZ(1500px) translateY(100px);
		opacity:0;
	}
}

@keyframes bottomRightCorner {
	from {
		transform:translateX(0vw) translateY(0vh) rotateY(0deg);
	}
	to {
		transform:translateX(40vw) translateY(20vh) rotateY(720deg);
	}
}

@keyframes moveOverViewportTop {
	from {
		transform:translateY(0vh);
	}
	to {
		transform:translateY(-40vh);
	}
}

@keyframes bottomLeftCorner {
	to {
		transform:translateX(-40vw) translateY(20vh) rotateY(720deg);
	}
}


/* ==================== Media Queries ======================================== */

@media screen and (max-width:$iPhone6Portrait) {
	@keyframes flutterRight {
		from {
			transform:translateZ(0px) rotateY(0deg) rotateX(0deg) translateY(0vw) translateX(0vw) rotateZ(0deg);
			opacity:1;
		}
		to {
			transform:translateZ(1500px) rotateY(-900deg) rotateX(50deg) translateY(-70vw) translateX(-75vw) rotateZ(-180deg);
			opacity:0;
		}
	}

	@keyframes flutterStraight {
		from {
			transform:translateZ(0px) rotateY(0deg) translateY(0vw) translateX(0vw) rotateZ(0deg);
			opacity:1;
		}
		to {
			transform:translateZ(1500px) rotateY(800deg) translateY(-55vw) translateX(15vw) rotateZ(160deg);
			opacity:0;
		}
	}

	@keyframes flutterLeft {
		from {
			transform:translateZ(0px) rotateY(0deg) translateY(0vw) translateX(0vw) rotateZ(0deg);
		}
		to {
			transform:translateZ(1500px) rotateY(-900deg) translateY(-50vw) translateX(-80vw) rotateZ(110deg);
		}
	}

	@keyframes moveThroughScreen {
		from {
			transform:translateZ(0px) translateY(0px);
			opacity:1;
		}
		to {
			transform:translateZ(1500px) translateY(-5vh);
			opacity:0;
		}
	}

	@keyframes bottomLeftCorner {
		from {
			transform:translateX(-0vw) translateY(0vh) rotateY(0deg);
		}
		to {
			transform:translateX(-38vw) translateY(18vh) rotateY(720deg);
		}
	}

	@keyframes bottomRightCorner {
		from {
			transform:translateX(0vw) translateY(0vh) rotateY(0deg);
		}
		to {
			transform:translateX(40vw) translateY(18vh) rotateY(720deg);
		}
	}
}

@media screen and (max-width:$iPhone6Landscape) {
	@keyframes moveThroughScreen {
		from {
			transform:translateZ(0px) translateY(0px);
			opacity:1;
		}
		to {
			transform:translateZ(1500px) translateY(8vh);
			opacity:0;
		}
	}
}
