@import '~barfoos2.0/css/viewportDefinitions';
@import '~barfoos2.0/css/util';

.videoPlayerMode {
	top:1vh;
	left:1vh;
}

div.liveChatDialog {
	display:flex;
	flex-direction:row;
	justify-content:flex-start;
	align-items:center;
	overflow:hidden;
	width:45vw;
	height:50vh;
	transition:width 100ms linear;

	@media screen and (max-width:$iPhone6Landscape) {
		transition:none;
	}

	&.maximized {
		width:65vw;
		height:70vh;
	}

	&.compact {
		width:33vw;
	}

	&.compact > div.userListSection {
		width:0px;
	}

	&.compact > div.chatSection > div.commandSection > div.toggleUserList {
		cursor:e-resize;

		&:after {
			content:'▶';
		}
	}

	@media screen and (max-width:$iPhone6Landscape) {
		width:75vw;
		height:90vh;
	}

	@media screen and (max-width:$iPhone6Portrait) {
		width:99vw;
		height:90vh;
		flex-direction:column;
		align-items:stretch;
	}

	> div.chatSection {
		display:flex;
		flex-direction:column;
		justify-content:center;
		align-items:center;
		height:100%;
		flex-grow:1;
		flex-shrink:1;

		@media screen and (max-width:$iPhone6Portrait) {
			height:20%;
		}

		> div.OutputSection {
			position:relative;
			width:100%;
			height:80%;

			> div.chatMessages {
				position:absolute;
				top:0;
				left:0;
				right:0;
				bottom:0;

				padding:10px;
				border-bottom:1px solid rgba(218, 220, 177, 0.83);
				overflow-x:hidden;
				overflow-y:scroll;
				box-shadow:-7px -2px 24px 0px #ffffff59 inset;
				font-size:12px;
				font-family:verdana,arial;

				display:flex;
				flex-direction:column;
				justify-content:flex-start;
				align-items:flex-start;

				@media screen and (max-width:$iPhone6Landscape) {
					font-size:1.6vw;
					box-shadow:none;
				}

				@media screen and (max-width:$iPhone6Portrait) {
					font-size:2.2vh;
					box-shadow:none;
				}
			}
		}

		> div.commandSection {
			width:100%;
			height:10%;
			display:flex;
			flex-direction:row;
			justify-content:flex-start;
			align-items:flex-end;
			flex-wrap:nowrap;
			opacity:0.7;

			> div.username {
				margin-left:4px;

				@media screen and (max-width:$iPhone6Landscape) {
					font-size:1.5vw;
				}

				@media screen and (max-width:$iPhone6Portrait) {
					font-size:2.2vh;
				}
			}

			> div.usersOnlineTotal {
				display:flex;
				flex-direction:row;
				margin-left:auto;
				font-size:1.6vh;
				font-weight:bold;

				@media screen and (max-width:$iPhone6Landscape) {
					font-size:1.5vw;
				}

				@media screen and (max-width:$iPhone6Portrait) {
					font-size:2vh;
				}
			}

			> div.usersOnlineLoggedIn {
				display:flex;
				flex-direction:row;
				margin-left:10px;
				margin-right:2vw;
				font-size:1.6vh;
				font-weight:bold;

				@media screen and (max-width:$iPhone6Landscape) {
					font-size:1.5vw;
				}

				@media screen and (max-width:$iPhone6Portrait) {
					font-size:2vh;
				}
			}

			> div.toggleUserList {
				margin-left:2vw;
				font-size:4vh;
				width:3vw;
				text-shadow:0 0 3px white;
				color:rgba(0,0,200,0.9);
				cursor:w-resize;
				align-self:center;
				margin-right:-10px;

				&:after {
					content:'◀';
				}

				@media screen and (max-width:$iPhone6Landscape) {
					display:none;
				}
			}
		}

		> div.interactionSection {
			width:100%;
			height:10%;
			display:flex;
			flex-direction:row;
			flex-wrap:nowrap;
			justify-content:center;

			> textarea.inputChatMessage {
				border:1px solid #dde1ffc7;
				box-sizing:border-box;
				font-size:14px;
				font-family:verdana,arial;
				padding:4px;
				outline:none;
				width:70%;
				height:100%;
				color:white;
				background-color:rgba(0, 00, 220, 0.3);
				resize:none;
				border-radius:0 0 0 8px;
			}

			> input.sendChatMessage {
				width:30%;
				height:100%;
				border-radius:0 0 8px 0;
				border:1px solid white;
				box-sizing:border-box;
			}

			@media screen and (max-width:$iPhone6Portrait) {
				height:15%;
			}
		}
	}

	> div.userListSection {
		height:100%;
		width:12vw;
		background:linear-gradient(180deg, rgba(0,0,0,0.5), rgba(0,0,200,0.6));
		transition:width 100ms linear;
		overflow-x:hidden;
		overflow-y:auto;

		display:flex;
		flex-direction:column;
		justify-content:flex-start;
		align-items:stretch;

		@media screen and (max-width:$iPhone6Portrait) {
			width:auto;
			height:20%;
			position:relative;
			top:3vh;
			border-top:1px solid white;
			flex-direction:row;
			justify-content:flex-start;
			flex-wrap:wrap;
		}

		/*@media screen and (max-width:$iPhone6Landscape) {
			display:none;
			transition:none;
		}*/
	}
}
