@import '~barfoos2.0/css/viewportDefinitions';
@import '~barfoos2.0/css/util';

div.userListElement {
	margin:4px;
	margin-bottom:2px;
	border-bottom:1px solid #ffffff29;
	margin-top:2px;
	display:block;
	order:2;

	@media screen and (max-width:$iPhone6Portrait) {
		width:45vw;
	}

	&.admin {
		background-color:rgba(0, 0, 0, 0.3);
		color:#82ff82;
		text-shadow:none;
		order:1;
	}

	> div.wrapper {
		display:flex;
		flex-direction:row;
		align-items:flex-end;
		font-family:verdana,arial;

		> div.userName {
			font-weight:bold;
			font-size:1.5vh;
			overflow:hidden;
			text-overflow:ellipsis;
			white-space:nowrap;
			cursor:pointer;
		}

		> div.typingStatus {
			flex-direction:row;
			font-size:1.0vh;
			margin-left:2px;
			align-self:center;
			display:none;

			&.isTyping {
				display:flex;

				/*> div {
					animation: sk-bouncedelay 1.4s infinite linear both;

					&.b2 {
						animation-delay: 0.16s;
					}

					&.b3 {
						animation-delay: 0.32s;
					}
				}*/
			}
		}
	}

	> div.status {
		display:block;
		font-size:1.2vh;
		color:white;
		text-shadow:none;
		font-family:arial;
		font-weight:bold;
		opacity:0.5;
		height:3vh;
		-webkit-line-clamp:2;
		-webkit-box-orient:vertical;
		display:-webkit-box;
		text-overflow:ellipsis;
		overflow:hidden;
	}
}

@keyframes sk-bouncedelay {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}
